<div class="section-container" class='general'>
    <h1 class="section-title"><b>Centro Cultural San Rafael Tlalmanalco</b></h1>
    <p class="section-text">{{lp.eslogan}}</p>
    <div class="hotlinks-container">
        <a routerLink='actividades'>
            <button class="section-hotlink">
                <span>Ver actividades</span>
            </button>
        </a>
    </div>
</div>
<div class="info-container" class='general'>
    <div class = 'deck'>
        <div class="card bg">
            <div class='info-title'>
                <h2 class="info-title"><b>Misión</b></h2>
            </div>
            <div class="banner-container">
                <img class="event-banner no-select" src="{{ lp.imgMision }}">
            </div>
            <div class="info-description">
                <pre>{{lp.mision}}</pre>
            </div>
        </div>
        <div class="card bg">
            <div class='info-title'>
                <h2 class="info-title"><b>Visión</b></h2>
            </div>
            <div class="banner-container">
                <img class="event-banner no-select" src="{{ lp.imgVision }}">
            </div>
            <div class="info-description">
                <pre>{{lp.vision}}</pre>
            </div>
        </div>
        <div class="card bg">
            <div class='info-title'>
                <h2 class="info-title"><b>Valores</b></h2>
            </div>
            <div class="banner-container">
                <img class="event-banner no-select" src="{{ lp.imgValores }}">
            </div>
            <div class="info-description">
                <pre>{{lp.valores}}</pre>
            </div>
        </div>
    </div>
</div>

<div class = 'history-conatiner' class = 'general' id='historia'>
    <div class = 'deck'>
        <div class="card history-card">
            <div class="history-banner-container">
                <img class="event-banner no-select" src="{{ lp.imgResumen1 }}">
            </div>
        </div>
        <div class="card history-card">
            <div class="history-description">
                <pre>{{lp.resumen1}}</pre>
            </div>
        </div>
    </div>
    <div class = 'deck'>
        <div class="card history-card">
            <div class="history-description">
                <pre>{{lp.resumen2}}</pre>
            </div>
        </div>
        <div class="card history-card">
            <div class="history-banner-container">
                <img class="event-banner no-select" src="{{ lp.imgResumen2 }}">
            </div>
        </div>
    </div>
    <div class = 'deck'>
        <div class="card history-card">
            <div class="history-banner-container">
                <img class="event-banner no-select" src="{{ lp.imgResumen3 }}">
            </div>
        </div>
        <div class="card history-card">
            <div class="history-description">
                <pre>{{lp.resumen3}}</pre>
            </div>
        </div>
    </div>
    <div class = 'deck'>
        <div class="card history-card">
            <div class="history-description">
                <pre>{{lp.resumen4}}</pre>
            </div>
        </div>
        <div class="card history-card">
            <div class="history-banner-container">
                <img class="event-banner no-select" src="{{ lp.imgResumen4 }}">
            </div>
        </div>
    </div>
    <div class = 'deck'>
        <div class="card history-card">
            <div class="history-banner-container">
                <img class="event-banner no-select" src="{{ lp.imgResumen5 }}">
            </div>
        </div>
        <div class="card history-card">
            <div class="history-description">
                <pre>{{lp.resumen5}}</pre>
            </div>
        </div>
    </div>
</div>

