@import '../../../variables.scss';
@import "../../../assets/hamburgers/hamburgers.scss";

header {
    height: $nav-height;
    display: block;
    padding: 0;
    margin: 0;
    background-color: #9d2a17;
    width: 100vw;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.5));
}

.header-container {
    box-sizing: border-box;
    width: 100%;
    height: $nav-height;
    max-width: $content-width;
    margin: auto;
}

#nav-logo-link, #nav-logo-link img {
    display: block;
    height: 46px;
}

#nav-logo-link {
    padding: 2px;
}

#nav-logo-link img {
	margin: 0 2px;
}

.facebook-link {
    float: right;
    margin: none;
}

.facebook-link {
    height: $nav-height;
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: $nav-height;
}

nav ul, nav a {
    padding: 0;
    margin: auto;
    text-align: center;
}

nav a.active-link {
    color: #EFB810;
    cursor: default;
}

nav a.active-link:hover {
    color: #EFB810;
}

nav a.active-link:active {
    color: #EFB810;
}

.nav-item {
    height: 50px;
    list-style: none;
    display: block;
    position: relative;
    line-height: 50px;
}

nav a::after {
    content: "";
    margin: auto;
    display: block;
    height: 1px;
    border-radius: 1px;
    background: rgba(50, 50, 50, 0.5);
    width: 80%;
}

#fb-icon {
    display: block;
    height: 32px;
    margin: 9px 0;
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
}

/*Menu icon*/

nav a {
    font-size: 14px;
    text-decoration: none;
    color: #A98307;
}

nav a:hover {
    color: #cda434;
}

nav a:active {
    color: #EFB810;
}

#menu-wrapper {
    display: block;
    max-height: 0px;
    overflow: hidden;
    background: #9d2a17;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#menu-wrapper span {
    display: block;
    height: 0px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    transition-delay: 0.2s;
}

#menu-wrapper.open span {
    display: block;
    height: 1px;
    background: rgba(50, 50, 50, 0.5);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-wrapper.open {
    max-height: 100vh;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hamburger {
    float: right;
    width: 50px;
    height: 50px;
}

@media (min-width: 612px) {
    .header-container {
        padding: 0 40px;
    }

    .hamburger {
        position: absolute;
        visibility: hidden;
    }

    #menu-wrapper, #menu-wrapper.open {
        float: right;
        width: auto;
        max-height: 300px;
    }

    nav ul {
        padding: 0 10px;
    }

    .nav-item {
        display: inline-block;
        padding: 0 10px;
    }

    .nav-item::after {
        content: "";
        display: none;
    }
}
